.Login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;

  background-color: rgba(0, 0, 0, 0.9);

  &__form {
    display: flex;
    flex-flow: column nowrap;
    padding: 20px 40px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    box-shadow: 5px 5px 20px 0px rgba(73, 74, 79, 1);

    h1 {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 10px;
    }

    .Input {
      margin-top: 15px;
    }

    .Button {
      margin-top: 10px;
    }

    &__message {
      height: 20px;
      width: 100%;
      margin: 5px 0;
      font-size: 16px;
      line-height: 20px;
      text-align: left;
    }
  }
}
